// For global variables such as colors, fonts, etc.

/* Fonts */
  // Font imports
  @import url('https://fonts.googleapis.com/css?family=Varela+Round');

  $HEADER_FONT: "Varela Round", Helvetica, sans-serif;
  $TEXT_FONT: "Varela Round", Helvetica, sans-serif;

/* Colors */
  $GRAY_1: #5C5C5C;

  $GRAY_2: #E4E4E4;


  $SHADOW_COLOR: rgba(0, 0, 0, .29);

  $BACKGROUND_COLOR: #FAFAFA;