.dc-section {
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;

  &--header {
    font-size: 42px;
    margin-bottom: 50px;
  }
  &--button {
    margin-top: 60px;
  }
  &--bottom {

  }
  &--bottom-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    img {
    }
  }
  &--blue,
  &--red,
  &--red,
  &--yellow,
  &--green,
  &--orange {
    z-index: -2;

    &>div {
      z-index: 1;
    }
    &:before {
      background: inherit;
      top: 0;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      transform: skewY(-30deg);
      transform-origin: 20%;
      z-index: -1;
      box-shadow: 0 -400px 0 $WHITE;
    }
    &:after {
      background: inherit;
      bottom: 0;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      transform: skewY(-30deg);
      transform-origin: 69%;
      z-index: -1;  
      box-shadow: 0 400px 0 $WHITE;
    }
  }
  &--blue {
    background: $BLUE_1;
  }
  &--red {
    background: $RED_1;
  }
  &--green {
    background: $GREEN_1;
  }
  &--yellow {
    background: $YELLOW_1;
  }
  &--orange {
    background: $ORANGE_1;
  }
}

.dc-hero {
  // background: url('../images/background.png') no-repeat 0 center;
  background-size: cover;
  height: 80%;
  height: 80vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin: 0;

  h1 {
    font-size: 48px;
  }
  &--description {
    margin-top: 40px;
    margin-bottom: 40px;

    h4 {
      line-height: 1.5;
    }
  }
  &--bg {
    // Mobile styles (shove image to right)
    // @media screen and (max-width)
    // overflow-x: hidden;
    // height: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    img {
      width: auto;
      min-width: 100%;
    }
  }
  &--content-wrapper {
    position: absolute;
    width: 100%;
  }
}

.dc-card {
  border: 5px solid $GRAY_1;
  box-shadow: 0 10px 20px $SHADOW_COLOR;
  border-radius: 25px;
  padding: 36px 20px;
  background-color: $BACKGROUND_COLOR;
  margin-bottom: 30px;

  &--img {
    margin-bottom: 20px;
  }
  &--body {
    h3 {
      margin-bottom: 10px;
    }
  }
}

.dc-schedule {
  margin-bottom: 20px;

  h4 {
    margin: 20px 0;
  }
  p {
    line-height: 24px;
    position: relative;
    padding-left: 30px;
    font-size: 16px;

    &:before {
      // content: ' ';
      // width: 6px;
      // height: 30px;
      // background-color: $GRAY_1;
      // position: absolute;
      // border-radius: 3px;
      // left: 10px;
      // top: 0;
    }
  }
}
.dc-faq {
  &--section {
    margin-bottom: 40px;

    h4 {
      margin: 24px 0;
    }
  }
  &--text {
    line-height: 24px;
    position: relative;
    padding-left: 55px;

    &:before {
      content: ' ';
      width: 6px;
      height: 50px;
      background-color: $GRAY_1;
      position: absolute;
      border-radius: 3px;
      left: 30px;
      top: 0;
    }
  }
}

.dc-featurette {
  z-index: -2;

  &--left,
  &--right {
    position: absolute;
    z-index: -1;
    top: -20%;
  }
  &--left {
    left: -60px;

    &.second {
      top: -37%;
    }
  }
  &--right {
    right: 0;
    top: -75%;
  }
}

.dc-cta {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;

  img {
    width: 100%;
  }
}

.dc-footer {
  // background-color: $GRAY_2;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 40px;

  #logo-dsp {
    width: 100px;
    vertical-align: middle;
    height: 100px;
  }
  #logo-designatucsd {
    vertical-align: middle;
    margin-right: 20px;
    width: 200px;
  }
  &--presented h4 {
    margin-bottom: 20px;
  }
}

.dc-btn {
  padding: 15px 50px;
  border-radius: 12px;
  background-color: $ORANGE_1;
  color: $WHITE;
  border: none;
  font-size: 18px;
  letter-spacing: 0.5px;
  box-shadow: 0px 4px 20px $PINK_SHADOW;

  &:hover,
  &:focus,
  &:active,
  &:visited {
    background-color: $ORANGE_1 !important;
    box-shadow: 0px 4px 20px $PINK_SHADOW;
  }
}
